body {
    background-color: #FADCD9;
}
.Encabezado {
    background-color: #A49393;
}
.Cuerpo {
    background-color: #E8B4B8;
}
h1 {
    text-align: center;
    font-size: 50px;
}
.destacados {
    border-top: 50px auto;
    height: 500px;
    background-color: #E8B4B8;
    margin: 8px;
}

#centro {
    background-color: white;
    width: 400px;
    margin-top: 8px auto;
    margin: 0 auto;
    padding: 8px;
    border: 2px solid #E8B4B8;
}

.libros {
    width: 250px;
    height: 420px;
    display: inline-block;
    margin: 5px auto;
    text-align: center;
    background-color: white;
    border: 10px solid white;
    cursor: pointer;
}

.img {
    margin: 10px auto;
    border-radius: 5px;
    border: 2px solid #999;
    padding: 13px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.img img {
    width: 100%;
}

.PiePagina {
    background-color: #67595E;
}

@media screen and (max-width: 480px) {
    #encabezado {
        height: auto;
    }
    #cuerpo {
        width: auto;
    }
    #libros {
        display: none;
    }
}
